@import '../../../css/constants.scss';

.characterCard {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 100%;
  cursor: pointer;

  img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 100%;
  }

  .characterName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Star;
    color: $LighBlue;
    background: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.App.dark {
  .characterName {
    color: $Yellow;
    background: #333;
  }
}
