@import '../../css/constants.scss';

.characterCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  grid-gap: 41px;
  .characterCard {
    min-height: 100px;
  }
}
.loadMore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
